.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* logo style */
.logo {
  max-width:50%;
  height: auto;
}

.banner {
  max-width: 100%;
}

/* plane position */

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  width: 100%;
}

.overlay-image {
  position: absolute;
  top: 10%;
  left: 5%;
  max-width: 20%;
  height: auto;
  z-index: 10;
  animation: float-plane 25s linear infinite;
}

@keyframes float-plane {
  0% {
    left: 0; /* Start position on the left */
    transform: scaleX(1); /* Initial scale */
  }
  50% {
    left: calc(94% - 100px); /* End position on the right */
    transform: scaleX(1); /* Maintain original scale */
  }
  51% {
    transform: scaleX(-1); /* Flip horizontally */
  }
  100% {
    left: 0; /* Back to the start position */
    transform: scaleX(-1); /* Maintain flip and original scale */
  }
}


/* @media (max-width: 1200px) {
  .overlay-image {
    max-width: 25%;
    bottom: 15%;
    right: 5%;
  }
}

@media (max-width: 768px) {
  .overlay-image {
    max-width: 30%;
    bottom: 20%;
    right: 5%;
  }
}
*/
@media (max-width: 480px) {
  .overlay-image {
    /* max-width: 40%; */
    bottom: 40%;
    right: 5%;
    top: 1%;
  }
}

/* .dancing-script-title {
  font-family: "Dancing Script", cursive !important;
  font-optical-sizing: auto;
  font-weight: 400; // 400 to 700
  font-style: normal;
} */


